<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>#dailyui 009: Music Player</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700'>

		<link rel="stylesheet" href="static/css/style.css">
		<link rel="stylesheet" href="static/css/vendor/css/font-awesome.min.css">

		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
		<script src="https://connect.soundcloud.com/sdk/sdk-3.2.2.js"></script>
		<script src="https://www.youtube.com/iframe_api"></script>
	</head>

	<body>

		<iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=true&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F293&show_artwork=true"></iframe>

		<iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" frameborder="0"></iframe>
	</body>
	<script src="static/js/index.js"></script>
</html>

