<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>#dailyui 009: Music Player</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700'>

		<link rel="stylesheet" href="static/css/style.css">
		<link rel="stylesheet" href="static/css/vendor/css/font-awesome.min.css">

		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="static/js/vendor/sc-api.js"></script>
		<script src="static/js/player.js"></script>
		<script src="static/js/index.js"></script>
	</head>

	<body>
		<main>
		<div class='background'>
			<div class="blend"></div>
			<div id="track-background"></div>
		</div>
		<div class='container'>
			<div class='player playlist'>
				<div class='back'>
					<header style="max-height:11%;">
					<a class="button-back">
						<i class="fa fa-headphones fa-2x" aria-hidden="true"></i>
					</a>
					<div>
						<iframe id="soundcloud-player" width="32px" height="32px" style="visibility:hidden;" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/346281388"></iframe>
						<iframe id="youtube-player" type="text/html" width="0" height="0" src="https://www.youtube.com/embed/7-qGKqveZaM?enablejsapi=1" provider="youtube"></iframe>
					</div>
					<div class="button-add">
						<form role="form" action="/song" method="post">
							<input id="search" name="link" type="text" placeholder="Youtube or Soundcloud">
							<a>
								<i type="submit" class="fa fa-plus-square fa-2x" aria-hidden="true" ></i>
							</a>
						</form>
					</div>
					</header>
					<div class="playlist-scroll">
						<ol>
							{{ range $i, $e := .SongList }}
							<li id={{$i}} class="track" provider={{.Provider}} link={{.Link}} name={{.Name}} thumbnail={{.Thumbnail}}>
							<a>
								<img src={{.Thumbnail}}>
								<div>
									<h1>{{.Name}}</h1>
								</div>
							</a>
							<hr>
							</li>
							{{ end }}
						</ol>
					</div>
				</div>
				<div class='front'>
					<div class="track-art-container">
						<img class="art" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/345377/thousand-thursday%402x.jpg'>
					</div>
					<hr>
					<div class='meta'>
						<div class='controls top'>
							<a class='rewind skip' id="button-prev">
								<i class="fa fa-backward fa-2x" aria-hidden="true"></i>
							</a>
							<a class='play'>
								<i id="button-play" class="fa fa-play fa-2x" aria-hidden="true"></i>
								<i id="button-pause" class="fa fa-pause fa-2x" aria-hidden="true"></i>
							</a>
							<a class='forward skip' id="button-next">
								<i class="fa fa-forward fa-2x" aria-hidden="true"></i>
							</a>
						</div>
						<div class='info'>
							<h2 id="song-name"></h2>
						</div>
						<div class='controls bottom'>
							<a id="button-heart">
								<i class="fa fa-heart fa-2x" aria-hidden="true"></i>
							</a>
							<a id="button-shuffle">
								<i class="fa fa-random fa-2x" aria-hidden="true"></i>
							</a>
							<a id="button-repeat">
								<i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
							</a>
							<a class='flip' id="hamburger-menu">
								<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</body>
</html>
