*, *:before, *:after {
	box-sizing: border-box;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

*:focus {
	outline: none !important;
}


a {
	cursor: pointer;
}

body, html {
	height: 100%;
}

hr {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 1px;
	background: rgba(11, 11, 11, 0.5);
}

body {
	color: #0B0B0B;
	font-family: "Roboto Mono", monospace;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

main {
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 12px;
}

.background {
	background: white;
}
.background, .background:before, .background:after, .background div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background:before {
	content: "";
}
.background .blend {
	content: "";
	mix-blend-mode: screen;
}
.background div {
	content: "";
	-webkit-filter: blur(10px);
	filter: blur(10px);
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/345377/thousand-thursday%402x.jpg") center center/cover;
}
.background:after {
	content: "";
	background: rgba(0, 0, 0, 0.15);
}

.player {
	position: relative;
	z-index: 3;
	width: 100%;
	max-width: 325px;
}
.player .back {
	opacity: 0;
}
.player.playlist .front {
	z-index: -1;
	opacity: 0;
}
.player.playlist .back {
	z-index: 1;
	opacity: 1;
}

.player, .back, .front {
	will-change: transform;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front, .back {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: white;
	border-radius: 2px;
	box-shadow: 0 0 15px rgba(123, 22, 40, 0.2);
	width:300px;
	height:470px;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
}
.back header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	background: rgba(11, 11, 11, 0.1);
	padding: 5px;
}
.back header a {
	display: block;
	padding: 0 5px 3px !important;
	border-radius: 2px;
	margin-top:8px;
}
.back a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px;
}
.back a:active {
	background: #0B0B0B;
}

.button-back:hover  {
	color: #EB2045;
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.button-add:hover, .button-add:focus {
	color: #EB2045;
}
.controls.top a:hover, .controls.top a:focus {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.controls.top a:hover , .controls.top a:focus  {
	color: #EB2045;
}
.controls.bottom a:hover , .controls.bottom a:focus , .controls.bottom a.active  {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	color: #EB2045;
}
.controls.bottom a.flip:hover , .controls.bottom a.flip:focus  {
	color: #EB2045;
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.back img {
	display: block;
	border-radius: 2px;
	height: 32px;
	width: 32px;
}
.back img + div {
	padding-left: 12px;
}
.back hr {
	margin-left: 12px;
	width: calc(100% - 24px);
	background: rgba(11, 11, 11, 0.1);
}
.back h3 {
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: 300;
}
.back h4 {
	font-size: 12px;
	font-weight: 500;
}


.track-art-container {
	height:300px;
	display:flex;
	align-items:center;
	background: black;
}

.art {
	border-radius: 2px 2px 0 0;
	display: block;
	width: 100%;
}

.playlist-scroll {
	max-height:88%;
	overflow:auto;
}

.button-add {
	margin-left:59%;
	margin-top:3%;
	height: 30px;
	width: 30px;
}

input[type="text"] {
	height: 40px;
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 6px;
	display: inline-block;
	border: none;
	outline: none;
	color: #555;
	padding-right: 36px;
	width:0;
	position: absolute;
	z-index:3;
	top: -12px;
	right: -3px;
	background: none;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}

input[type="text"]:focus {
	width: 215px;
	cursor: text;
}
i[type="submit"] {
	margin-top:-9px;
	z-index:2;
	cursor: pointer;
	position:absolute;
	margin-left:-5px;
}

.controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 100%;
}
.controls a {
	display: block;
}
.controls a.skip {
	width: 42px;
	height: 36px;
}
.controls a.play {
	width: 42px;
	height: 36px;
}
.controls.top {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 12px;
}
.controls.top a {
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	will-change: transform;
}

.controls.top a:active {
}
.controls.bottom {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 18px 12px 18px;
	position: absolute;
	bottom:0;
}
.meta {
	text-align: center;
	height: 175px;
}
.meta time {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 0 4px;
	font-size: 10px;
}
.meta .info {
	padding: 12px;
}
.meta h1 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 6px;
}
.meta h2 {
	font-size: 14px;
	font-weight: 500;
}

.pre-enter .background {
	opacity: 0;
}
.pre-enter .player {
	opacity: 0;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	will-change: opacity, transform;
	-webkit-transform: rotateX(30deg) rotateY(-30deg) translateY(300px) translateZ(200px);
	transform: rotateX(30deg) rotateY(-30deg) translateY(300px) translateZ(200px);
}

.on-enter .background {
	-webkit-transition: all 1000ms ease-out;
	transition: all 1000ms ease-out;
	opacity: 1;
}
.on-enter .player {
	-webkit-animation: rotateIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
	animation: rotateIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
}

@-webkit-keyframes rotateIn {
	0% {
		opacity: 0;
		-webkit-transform: rotateX(30deg) rotateY(-30deg) translateY(300px) translateZ(200px);
		transform: rotateX(30deg) rotateY(-30deg) translateY(300px) translateZ(200px);
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes rotateIn {
	0% {
		opacity: 0;
		-webkit-transform: rotateX(30deg) rotateY(-30deg) translateY(300px) translateZ(200px);
		transform: rotateX(30deg) rotateY(-30deg) translateY(300px) translateZ(200px);
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@media only screen and (max-height: 510px) {
	.container {
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}
}
@media only screen and (min-width: 640px) {
	.player {
		will-change: transform;
	}
	.player .back {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
		-webkit-transform: translateZ(60px);
		transform: translateZ(60px);
	}
	.player .front {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform: translateZ(60px);
		transform: translateZ(60px);
	}
	.player .back * {
		opacity: 0;
	}
	.player.playlist .front {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
		-webkit-transform: translateZ(60px);
		transform: translateZ(60px);
	}
	.player.playlist .front * {
		opacity: 0;
	}
	.player.playlist .back {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform: translateZ(60px);
		transform: translateZ(60px);
	}
	.player.playlist .back * {
		opacity: 1;
	}

}
